


<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="page-title">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit) = "login()">
        <div class="form-group">
          <div *ngIf="notify" class="alert alert-success">
            {{ notify }}
          </div>
          <div *ngIf="errors.length > 0" class="alert alert-danger">
            <p *ngFor = "let error of errors">
                {{ error }}
            </p>
          </div>
          <label for="UserName">UserName</label>
          <input type="text"
                 class="form-control"
                 formControlName="UserName">
        </div>
        <div *ngIf="isValidInput('UserName')"
          class="alert alert-danger">
          <div *ngIf="loginForm.controls['UserName'].errors.required">
            Userpassword is required.
          </div>
      </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 class="form-control"
                 formControlName ="UserPassword">
        </div>
        <div *ngIf="isValidInput('UserPassword')"
          class="alert alert-danger">
          <div *ngIf="loginForm.controls['UserPassword'].errors.required">
            Userpassword is required.
          </div>
        </div>
        <button
        [disabled]="!loginForm.valid"
        type="submit" 
        class="btn btn-warning"
        >Sign In</button>
      </form>
    </div>
  </div>
</div>