nav class="navbar navbar-light navbar-expand-lg" style="background-color: #bfceda;">
    <div class="container">
      <a routerLink="/" class="navbar-brand" routerLinkActive="active" >WHP</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <ng-container>
            <li class="nav-item">
              <a routerLink="/cgst" class="nav-link" routerLinkActive="active">
              CGST
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/sgst" class="nav-link">
              SGST
              </a>
            </li>
   
            <li class="nav-item">
                <a routerLink="/users" class="nav-link">
                Users
                </a>
             </li>


              
            <li class="nav-item">
                <a routerLink="/company" class="nav-link">
                COMPNAY
                </a>
              </li>


           </ng-container>
        </ul>
      </div>
    </div>

