<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (submit)="submit()">
        <div class="card">
          <div class="card-header">User Profile</div>

          <div class="card-body">
            <div class="row">

              <div class="form-group col-6">
                <label>Vocher Date</label>
                <input type="text" class="form-control mb-3" placeholder="Datepicker" bsDatepicker
                  formControlName="voucherDate" />
                <span class="text-danger"
                  *ngIf="form.controls['voucherDate'].touched && form.controls['voucherDate'].hasError('required')">
                  voucherDate is required! </span>
              </div>
              <div class="form-group col-6">
                <label>Voucher Number</label>
                <input class="form-control" formControlName="voucherNumber" type="text">
                <span class="text-danger"
                  *ngIf="form.controls['voucherNumber'].touched && form.controls['voucherNumber'].hasError('required')">
                  Voucher Number is required! </span>
              </div>
              <div class="form-group col-6">
                <label>Cash Id</label>
                <select class="form-control" formControlName="cashId" type="text">
                  <option value="c-1">Email</option>
                  <option value="c-2">Phone</option>
                </select>
              </div>

              <div class="form-group col-6">
                <label>Bill/Chq.Number</label>
                <input class="form-control" formControlName="billChequeNumber" type="text">
                <span class="text-danger"
                  *ngIf="form.controls['billChequeNumber'].touched && form.controls['billChequeNumber'].hasError('required')">
                  "bill/Cheque Number is required! </span>
              
            </div>


          </div>

          <div class="form-group col-6">
            <label>Amount</label>
            <input class="form-control" formControlName="Amount" type="text">
            <span class="text-danger"
              *ngIf="form.controls['voucherNumber'].touched && form.controls['Amount'].hasError('required')">
              Amount is required! </span>
          </div>
          <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Save </button>
         </div>
        </div>

        <div class="card-header">Account Information</div>
        <div class="card-body" formArrayName="accounts">
          <div class="form-group col-12 text-right">
            <button class="btn btn-primary m-1" type="button" (click)=" addAccontEntry()"> Add Accont Entry
            </button>
          </div>
          <div class="row">
            <div class="col-6" *ngFor="let account of  accountFormGroup.controls; let i = index;">
              <div [formGroupName]="i" class="row">
                <div class="form-group col-6">
                  <label>Account Id</label>
                  <select (change)="changedFieldType(i)" class="form-control" formControlName="accountId" type="text">
                    <option value="selectaccount">select Account</option>
                    <option value="acc1">acc1</option>
                    <option value="acc1">acc1</option>
                  </select>
                </div>
                <div class="form-group col-6">
                  <label>Voucher Narration</label>
                  <input class="form-control" formControlName="voucherNaration" type="text">
                  <span class="text-danger"
                    *ngIf="getAccountsFormGroup(i).controls['voucherNaration'].touched && getAccountsFormGroup(i).controls['name'].hasError('required')">
                    Label is required! </span>
                </div>
                <div class="form-group col-6">
                  <label for="drcr">Debit/Credit</label>
                  <div>
                    <input type="radio" value="dr" name="drcr" formControlName="drcr">
                    <label for="dr">Debit</label>
                  </div>
                  <div>
                    <input type="radio" value="cr" name="drcr" formControlName="drcr">
                    <label for="cr">Credit</label>
                  </div>

                </div>
                <div class="form-group col-6">
                  <label>Amount</label>
                  <input class="form-control" formControlName="drcrAmount" type="text">
                  <span class="text-danger"
                    *ngIf="getAccountsFormGroup(i).controls['drcrAmount'].touched && getAccountsFormGroup(i).controls['drcrAmount'].hasError('required')">
                    Amount is required! </span>
                </div>

                
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card-body">
          <div class="col-12">

            <button class="btn btn-primary m-1" type="button" (click)="addContact()"> Add Contact </button>
            <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Save</button>
          </div>
        </div> -->
    
    </form>
  </div>
</div>
