


<div class="row" >
<div class="card px-1 py-5 bg-blue">
  <button type="button" class="btn btn-outline-secondary "
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."container="body" >
          Bank Receipts
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
          Bank Payments
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
          Cash Receipts
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
          Cash Payments
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
          Sales
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
          Purchases
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
          Debit Notes
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
          Credit Notes
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
    Journal Voucher
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
    Accounts
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
    Ledger
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
   Tial Balance
  </button>
  <button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
   Balance Sheet
</button>
<button type="button" class="btn btn-outline-secondary"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
  Sales Register 
  </button>
  <button type="button" class="btn btn-outline-secondary"
  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
Purchase Register 
</button>
<button type="button" class="btn btn-outline-secondary"
  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
Users
</button>
<button type="button" class="btn btn-outline-secondary"
  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." container="body">
Change Financial Year
</button>

</div>
</div>




<!-- <div class="d-flex align-items-start " style="margin-left: auto; background-color: rgb(5, 5, 32); width:10%;float: left;">

  <nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">Manage Company</a>
    <a class="nav-link " routerLink="/cgst">CGST Management</a>
    <a class="nav-link" routerLink="/sgst">SGST Management</a>
    <a class="nav-link" href="#">SGST Management</a>
    <a class="nav-link" href="#">IGST Management</a>
    <a class="nav-link" href="#">CGST Management</a>
    <a class="nav-link" href="#">Accounts Management</a>
    
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </nav>
  
  </div> -->
  <!-- <div class="container with-border h-100"style="padding:0%"> -->
  
    
      
   
  
      <router-outlet></router-outlet>
     <!-- </div> -->
    
  
  